<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.project.innisfree.dao.ProductDAO">
	 <insert id="insertCategory">
      	insert into category(lc_code, lc_name, mc_name, mc_pr_code) 
         values(#{lc_code}, #{lc_name}, #{mc_name}, #{mc_pr_code})           
     </insert>
	 <select id="selectCategoryList" resultType="kr.project.innisfree.vo.CategoryVO">
      	select * from large_category
      		join medium_category on lc_code = mc_lc_code;
     </select> 
     <select id="selectLargeCategory" resultType="kr.project.innisfree.vo.CategoryVO">
     	select *  from large_category
     </select>
     <select id="selectMediumCategory" resultType="kr.project.innisfree.vo.CategoryVO">
		select * from medium_category where mc_lc_code = #{code}
	</select>
     <insert id="insertLargeCategory"> 
     	insert into large_category(lc_name) values(#{lc_name})
     </insert>
     <insert id="insertMediumCategory">
     	insert into medium_category(mc_lc_code, mc_name, mc_pr_code) values(#{lc_code}, #{mc_name}, #{mc_pr_code})
     </insert>
     
     <insert id="insertProduct">
		insert into product(pr_code, pr_thumb, pr_title, pr_title_detail, pr_content, pr_price, 
			pr_deli, pr_point, pr_amount, pr_mc_name, pr_line, pr_worry, pr_count)
		values(#{pr_code}, #{pr_thumb}, #{pr_title}, #{pr_title_detail}, #{pr_content}, #{pr_price},
			#{pr_deli}, #{pr_point}, #{pr_amount}, #{pr_mc_name}, #{pr_line}, #{pr_worry}, #{pr_count}) 
	</insert>	
	<select id="selectMediumCategoryByMc_pr_code" resultType="kr.project.innisfree.vo.CategoryVO">
		select * from medium_category where mc_pr_code = #{mc_pr_code}
	</select>
	<update id="updateMediumCategory">
		update medium_category set mc_count = mc_count+1 where mc_name = #{mc_name}
	</update>
	<select id="selectProductList" resultType="kr.project.innisfree.vo.ProductVO">
		select * from product 
			where (pr_title like concat('%',#{search},'%') or pr_code like concat('%',#{search},'%'))
				and pr_mc_name like concat('%',#{pr_mc_name},'%')
			order by pr_mc_name
			limit #{pageStart}, #{perPageNum} 
	</select>
	<select id="selectProductTotalCount" resultType="int">
		select count(*) from product 
		where (pr_title like concat('%',#{search},'%') or pr_code like concat('%',#{search},'%'))
			and pr_mc_name like concat('%',#{pr_mc_name},'%')
	</select>
	<select id="selectProduct" resultType="kr.project.innisfree.vo.ProductVO">
		select * from product where pr_code = #{pr_code}	
	</select>
</mapper>